body{
    background-color: lightgray;
}
#body{
    box-shadow: 8px 8px grey;
    margin:0;
    font-family: sans-serif;
    width:50%;
    margin-left:25%;
    background-color:white;
    
}
#heading{
    margin-top:30px;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:dodgerblue;
    text-align: center;
}

/* styling the form */
.data{
     border:1px solid grey;
     border-right:0px;
     padding: 10px;
 }
input{
    border:none;
    background-color:inherit;
    padding: 5px;
}
input:focus{
    outline:none;
    background-color:inherit;
    }
label{
 font-size: 16px;
 font-weight: bolder;
 display: block;
}
select{
    width:50%;
    border:none;
    font-size:16px;
    padding:5px;
}
#wrap{
   display: flex;
   flex-flow: row;
}
#wrap div{
    width:50%;
}
i{
    margin-right:10px; 
}

 /* Buttons*/
 #add-delete{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding:20px;
 }
 /* ADD Button */
.add{
    font-size:25px;
    background-color: rgba(0, 0, 0, 0.801);
    font-family:sans-serif;
    padding:5px;
    font-weight: bolder;
    margin-top:10px;
    color:white;
    width:200px;
}
/* Delete Button */
.delete{
    font-size:25px;
     background-color: rgba(255, 0, 0, 0.795);
     font-family:sans-serif;
     padding:5px;
     font-weight: bolder;
     margin-top:10px;
     color:white;
     width:200px;
}
.delete a{
   color:white;
   text-decoration: none;
   letter-spacing: 1px;
}

/* Displaying the tasks */
.task{
    border-top:1px solid black;
    margin-left:-15px;
    width:100%;
    display:inline-block;
    
}
.task div{
    padding: 7px;
}
.type{
    border: none;
    padding:10px;
    margin-top:5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float:right;
    color:white;
    background-color: blue;
    width:80px;
    overflow:hidden;
}

#description{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#date{
    font-family: 'Courier New', Courier, monospace;
    color:lightslategrey;
}
/* Checkbox */
.strike{
    color:red;
    background-color: black;
    font-weight: 500px;

}
.strike:checked + span{
    text-decoration:line-through;
}