body{
    background-color: lightgray;
}
#body{
    box-shadow: 8px 8px grey;
    margin:0;
    font-family: sans-serif;
    width:50%;
    margin-left:25%;
    align-content: center;
    background-color:white;
    
}
#heading{
    margin-top:30px;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:lightsalmon;
    text-align: center;
}
.data{
     border:1px solid grey;
     border-right:0px;
     padding: 10px;
 }
input{
    border:none;
    background-color:inherit;
    padding: 5px;
}
input:focus{
    outline:none;
    background-color:inherit;
    }
label{
 font-size: 16px;
 font-weight: bolder;
 display: block;
}
select{
    width:50%;
    border:none;
    font-size:16px;
    padding:5px;
}
#wrap{
   display: flex;
   flex-flow: row;
}
#wrap div{
    width:50%;
}
i{
    margin-right:5px; 
}
.add{
    font-size:25px;
   margin-left:30%;
    background-color: rgba(0, 0, 0, 0.801);
    font-family:sans-serif;
    padding:5px;
    font-weight: bolder;
    margin-top:10px;
    color:white;
}
.delete{
    font-size:25px;
    margin-left:30%;
     background-color: rgba(255, 0, 0, 0.795);
     font-family:sans-serif;
     padding:5px;
     font-weight: bolder;
     margin-top:10px;
     color:white;
}
.delete a{
   color:white;
   text-decoration: none;
   letter-spacing: 1px;
}
.task{
    border-top:1px solid black;
    margin-left:-15px;
    width:100%;
    display:flex;
    flex-direction: column;
}

.strike:checked + span{
    text-decoration:line-through;
}